:root{
  --red:#AD343E;
  --grey:#474747;
  --yellow: #F2AF29;
  --dark:#161925;
  --blue:#23395B;
  --lightgrey:#E0E0E0;
};

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: grey;
  font-family: 'Open Sans', sans-serif;
}

/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  padding: 0.5em; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99; 
  background-color: var(--grey);
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 0.7em;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

#navbar #logo-image{
    height:75px;
    transition: 0.4s;
    padding:3px;
    margin: 0px 50px 0px 50px;
}

/* Links on mouse-over */
#navbar a:hover {
  color: var(--red);
}

#navbar #logo-image:hover{
  padding: 0px;
}

/* Display some links to the right */
#navbar-right {
  float: right;
  padding: 30px 10px;
  transition: 0.4s;
}

#navbar-right a{
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 30px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

.image{
  height:600px;
  margin-bottom: 2vw;
}

.date{
    position:relative;
    top:-500px;
    left:150px;
    color: white;
    font-size:4vw;
}

#about{
    color:white;
}

#today{
  margin:10vw 0vw;
  /*opacity:0;*/
  transition:0.6s;
}

#today img{
  position:left top;
  z-index: 0;
  width:100%;
}

#today .container{
  /*margin: 0vw; having margin aligns it left? */
  background: var(--lightgrey);
}

.heading{
  color:var(--red);
  text-align:center;
  font-weight:900;
  text-decoration: underline;
  margin:40px 20px 20px 20px;
  
}

.challenge-block{
  color: var(--grey);
  text-align:center;
  padding:30px;
}

.challenge-block a{
  text-decoration: none;
  color: var(--dark);
}

.challenge-block a:hover{
  color:var(--red);
  text-decoration: underline;
}

#subscribe{
  /*opacity: 0; for fade in effect*/ 
  /*transition:0.6s;*/
}

#subscribe-container{
  background-color: rgba(25,25,25,0.1);
  margin-bottom:50px;
  padding:0px;
}

#subscribe-heading{
  text-align: center;
  color: var(--red);
  text-decoration: underline;
  font-size: 16px;
}

#subscribe-form input[type="text"]{
  width:100%;
}

#subscribe-button{
    border:none;
    box-sizing: border-box;
    background-color: var(--yellow);
    margin:20px 20px 50px 0px;
    padding:10px 25px 10px 25px;
    color:white;
    font-size: 16px;
    font-weight:bold;
    border-radius: 2px;
}

#subscribe-button:hover{
  background-color: var(--red);
}


/*ABOUT*/
#about{
  margin:10vw 0vw;
  padding: 1vw;
}

#about .container{
  background-color: var(--lightgrey);
  color: var(--grey);
  padding: 2vw;
}

#faq .container{
  background-color: var(--lightgrey);
  color: var(--grey);
  padding: 2vw;
}