:root{
  --red:#AD343E;
  --grey:#474747;
  --yellow: #F2AF29;
  --dark:#161925;
  --blue:#23395B;
  --lightgrey:#E0E0E0;
};

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  background-color: transparent;
  display:flex;
  padding:16px;
  color:white;
  justify-content: center;
  align-items:center;
  position:absolute;
  z-index: 99;
  left:50vw;
  right:50vw;
  margin: 0;
}

.navbar-items{
  display:flex;
  font-size: 20px;
}

.navbar-link{
  margin:10px 50px;
}

.navbar-link a:hover{
  color:var(--red);
}

.navbar-link a{
  text-decoration: none;
  color:white;
}

.navbar-link-toggle{
  display:none;
}

@media only screen and (max-width: 768px) {
  .navbar{
    justify-content: left;
    left:0;
  }
  .navbar-link{
    margin: 0px;
  }
  .navbar-items{
    display:flex;
    flex-direction: column;
  }

  .navbar-item{
    display:none;
  }

  .navbar-link-toggle{
    display:initial;
    cursor:pointer;
  }

  .navbar-toggle-show{
    display:flex;
  }
}

.hero{
  background-image: linear-gradient(rgba(0, 0, 20, 0.5), rgba(20, 0, 0, 0.5)), url(/static/hero.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
}

.hero-logo{
  margin:12px;
}

.hero-logo img{
  width:550px;
}
@media only screen and (max-width: 768px) {
  .hero-logo img{
    width:70vw;
  }
}

.hero-phrase{
  margin:12px;
}

.hero-today{
  text-align: center;
  position:absolute;
  bottom:0;
  margin-bottom: 24px;
  font-size:24px;
}

.hero-today .down-arrow{
  font-size:50px;
}

.hero-today a{
  text-decoration: none;
  color:white;
  -webkit-animation:opacitychange 2s infinite;
}

@-webkit-keyframes opacitychange {
  0% {opacity:1;}
  50% {opacity:0.5;}
  100% {opacity:1;}
}

.hero-today a:hover{
  color:var(--red);
  -webkit-animation:opacitychange 0s infinite;
}

.description{
  padding:2em;
  background:var(--lightgrey);
  color:black;
}

.description .col-12{
  padding:15px 60px;
}
@media only screen and (max-width: 768px) {
  .description .col-12{
    padding:6px 0;
  }
}

.description-name h1{
  font-size: calc(36px + 2vw);
  color:var(--red);
  text-align: center;
}

.description-name{
  padding-top:2em;
}

.description-about{
  font-size:26px; !important
}

.description p{
  font-size:18px;
}

.description h3{
  font-weight:bold;
}

.description b{
  color:var(--red);
}


.description-six-elements ul{
  list-style:none;
  padding-left:24px;
  font-size:18px;
}

.description .see-todays a{
  text-decoration: none;
  color:var(--grey);
  -webkit-animation:opacitychange 2s infinite;
}

.description .see-todays a:hover{
  color:var(--red);
  -webkit-animation:opacitychange 0s infinite;
}

.description .see-todays .down-arrow{
  font-size:50px;
}

.description .see-todays{
  text-align:center;
  font-size: 24px;
  color:white;
}

.today-header h1{
  color:var(--red);
  text-align:center;
  vertical-align: center;
  font-size: calc(36px + 2vw);
  margin:5rem 0 2.5rem 0;
}

.today{
  background: var(--lightgrey);
  background-size:cover;
  padding:0;
  margin:0rem 10vmax 5vmax 10vmax;
}

.today .row{
  background-color: var(--lightgrey);
  padding:0;
  box-sizing: border-box;
}

#banner-image-container{
  box-sizing:border-box;
  width:100%;
  height:30vw;
  margin-bottom: 2vw;
  overflow:hidden;
  vertical-align: middle;
  display:flex;
  position:relative;
}

#banner-image-container img{
  object-fit: cover;
  overflow: auto;
  
}

.date{
    position:absolute;
    top:30%;
    left:12%;
    color: white;
    font-size:5rem;
}

@media only screen and (max-width: 768px) {
  .date{
    font-size:2rem;
  }
}


.today img{
  position:left top;
  z-index: 0;
  width:100%;
}

.today .container{
  /*margin: 0vw; having margin aligns it left? */
  background: var(--lightgrey);
}

.heading{
  color:var(--red);
  text-align:center;
  font-weight:600;
  text-decoration: underline;
  margin:40px 20px 20px 20px;
}

.challenge-block{
  color: var(--grey);
  text-align:center;
  padding:0px 100px;
}

.challenge-block a{
  text-decoration: none;
  color: var(--dark);
}

.challenge-block a:hover{
  color:var(--red);
  text-decoration: underline;
}

.challenge-block .subheading{
  color:var(--grey);
  font-weight: bold;
}

.today-subscribe{
  margin:0.4vw 2vw;
}


.footer{
  background-color: grey;
  display:flex;
  width:100vw;
  padding:16px;
  color:white;
  position:absolute;
  margin: 0;
}

.footer-items{
  display:flex;
  font-size: 20px;
}

.footer-items p{
  margin:10px 30px;
}

.footer-items a{
  text-decoration: none;
  color:white;
  margin:10px 30px;
}

.footer-items a:hover{
  color:var(--red);
}

#subscribe{
  /*opacity: 0; for fade in effect*/ 
  /*transition:0.6s;*/
  background-color: var(--grey);
}

#subscribe-container{
  background-color: var(--lightgrey);
  margin-bottom:50px;
  padding:0px;
}

#subscribe-heading{
  text-align: center;
  color: var(--red);
  text-decoration: underline;
  font-size: 16px;
}

#subscribe-form input[type="text"]{
  width:100%;
}

#subscribe-button{
    border:none;
    box-sizing: border-box;
    background-color: var(--yellow);
    margin:20px 20px 50px 0px;
    padding:10px 25px 10px 25px;
    color:white;
    font-size: 16px;
    font-weight:bold;
    border-radius: 2px;
}

#subscribe-button:hover{
  background-color: var(--red);
}


/*ABOUT*/
#about{
  margin:10vw 0vw;
  padding: 1vw;
}

#about .container{
  background-color: var(--lightgrey);
  color: var(--grey);
  padding: 2vw;
}

#faq .container{
  background-color: var(--lightgrey);
  color: var(--grey);
  padding: 2vw;
}