:root{
  --red:#AD343E;
  --grey:#474747;
  --yellow: #F2AF29;
  --dark:#161925;
  --blue:#23395B;
  --lightgrey:#E0E0E0;
};

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: grey;
  font-family: 'Open Sans', sans-serif;
}

/* Create a sticky/fixed navbar */
.navbar{
  background-color: var(--grey);
  display:flex;
  padding:16px;
  color:white;
  justify-content: center;
  align-items:center;
}

.navbar-items{
  display:flex;
}

.navbar-link{
  margin:10px 20px;
}

.navbar-link a{
  text-decoration: none;
  color:white;
}

.navbar-link-toggle{
  display:none;
}

@media only screen and (max-width: 768px) {
  .navbar{
    justify-content: left;
  }
  .navbar-items{
    display:flex;
    flex-direction: column;
  }

  .navbar-item{
    display:none;
  }

  .navbar-link-toggle{
    display:initial;
    cursor:pointer;
  }

  .navbar-toggle-show{
    display:flex;
  }
}

#banner-image-container{
  width:100%;
  height:40vw;
  margin-bottom: 2vw;
  overflow:hidden;
  vertical-align: middle;
  display:flex;
  position:relative;
}

#banner-image-container img{
  object-fit:cover;
}

.date{
    position:absolute;
    top:30%;
    left:12%;
    color: white;
    font-size:50px;
}

#about{
    color:white;
}

#today{
  margin:10vw 0vw;
  /*opacity:0;*/
  transition:0.6s;
}

#today img{
  position:left top;
  z-index: 0;
  width:100%;
}

#today .container{
  /*margin: 0vw; having margin aligns it left? */
  background: var(--lightgrey);
}

.heading{
  color:var(--red);
  text-align:center;
  font-weight:600;
  text-decoration: underline;
  margin:40px 20px 20px 20px;
  
}

.challenge-block{
  color: var(--grey);
  text-align:center;
}

.challenge-block a{
  text-decoration: none;
  color: var(--dark);
}

.challenge-block a:hover{
  color:var(--red);
  text-decoration: underline;
}

.today-subscribe{
  margin:0.4vw 2vw;
}

#subscribe{
  /*opacity: 0; for fade in effect*/ 
  /*transition:0.6s;*/
}

#subscribe-container{
  background-color: rgba(25,25,25,0.1);
  margin-bottom:50px;
  padding:0px;
}

#subscribe-heading{
  text-align: center;
  color: var(--red);
  text-decoration: underline;
  font-size: 16px;
}

#subscribe-form input[type="text"]{
  width:100%;
}

#subscribe-button{
    border:none;
    box-sizing: border-box;
    background-color: var(--yellow);
    margin:20px 20px 50px 0px;
    padding:10px 25px 10px 25px;
    color:white;
    font-size: 16px;
    font-weight:bold;
    border-radius: 2px;
}

#subscribe-button:hover{
  background-color: var(--red);
}


/*ABOUT*/
#about{
  margin:10vw 0vw;
  padding: 1vw;
}

#about .container{
  background-color: var(--lightgrey);
  color: var(--grey);
  padding: 2vw;
}

#faq .container{
  background-color: var(--lightgrey);
  color: var(--grey);
  padding: 2vw;
}