<!-- about.html-->

{% extends "base.html" %}
{% block title %}PraxTrain About{% endblock %}

{% block body %}
<div id="about">
  <div class="container">
    <div class="row fill-container align-items-bottom">
      <div class="heading">
        <h1>What is PraxTrain?</h1>
      </div>
      <p>PraxTrain is for anyone who desires to put their faith into practice every day. It is specifically for those who desire to train themselves to live the way that Jesus lived.  How did Jesus live? His actions were completely in line with His theology. His teachings were accompanied by actions. In modern terms, His walk matched His talk.</p>

      <p>PraxTrain stands for Praxis Training. </p>
       
      <p> Praxis simply means a theory that is put into practice.</p>
      <p>Training in a athletic or professional sense recognizes that people develop skills, strength and competence with practice over a period of time.</p>

      <p>Every day there will be a Bible reading, a meditative thought or journaling prompt, a verse to memorize, and a specific challenge to live out.</p>

      <p>Join us in this journey of putting our faith into practice.</p>
    </div>
  </div>
</div>

<div id="faq">
  <div class = "container">
    <div class="row fill-container align-items-bottom">
      <div class="heading">
        <h1>Frequenty Asked Questions</h1>
      </div>
      <ol>
        <li>What does PraxTrain stand for? </li>
        <p>PraxTrain stands for "Praxis Training"</p>

        <li>What does Praxis mean?  </li>
        <p>a. Practical application of a theory<br>
         b. Theory put into practice</p>

        <li>Is this a devotional? </li>
        <p>No, it is Bible reading plan, a meditative or journaling question and a daily challenge to put your faith into action. </p>

        <li>Why do I need help putting my faith into practice? </li>
        <p>Because we all need help!  Many followers of Jesus find it easier to believe in Jesus and what He taught than to actually live out His teachings.  PraxTrain is an attempt to help people break down the teachings of Jesus into practical actions.  </p>

        <li>Who came up with this idea? </li>
        <p>Someone who needed help putting their faith into practice!  Also someone who recognizes that daily reminders to read, to meditate, and to be action oriented will help followers of Jesus live out their mandate to build God's Kingdom here on earth.  </p>

        <li>What does the Bible reading plan break down to be? </li>
        <p>It will vary.  Sometimes it will be longer chunks of Scripture in one book.  Sometimes it might be only a couple verses.  Sometimes it will be both the Old Testament and New Testament.  Sometimes it will be a "rest day" to catch up on past readings, or to just take more time to pray or worship.  </p>
      </ol>
    </div>
  </div>
</div>

{% endblock %}