<!--admin.html-->

{% extends "base.html" %}
{% block title %}PraxTrain Admin Page{% endblock %}

{% block body %}
<table border = 1>
   <thead>
      <td>ID</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>Confirmed</td>
      <td>CONFIRM This Email Manually</td>
      <td>UNSUBSCRIBE This Email Manually</td>
   </thead>
   
   {% for i in range(rows|length) %}
      <tr>
         <td>{{rows[i][0]}}</td>
         <td>{{rows[i][1]}}</td>
         <td>{{rows[i][2]}}</td>
         <td>{{rows[i][3]}}</td>
         <td>{{rows[i][4]}}</td>    
         <td><a href={{confirm_links[i]}}>
            <i class="fas fa-check-circle"></i>
         </td>
         <td><a href={{unsubscribe_links[i]}}>
            <i class="fas fa-times-circle"></i>
         </td>
      </tr>
   {% endfor %}
</table>

<br>
<b>AWS SERVER TIME:</b><br>
{{hour}}:{{minute}}:{{second}}<br><br>

<a href = "/">Go back to home page</a>

<form id="email" action="/manualemail" method="POST">
    <input type="submit" value="Send Today's Emails"> 
</form>

{% endblock %}