<!--adminlogin.html-->

{% extends "base.html" %}
{% block title %}PraxTrain Admin Login Page{% endblock %}

{% block body %}
<div class="container">
    <div class="row fill-container align-items-bottom">
        <div class="col-4">
        </div>
        <div class="col-6">
            <form action='' method='POST'>
                <div class="col-12">
                    Username: <input type='text' name='username'>
                </div>
                <div class="col-12">
                    Password: <input type='password' name='password'>
                </div>
                <input type='submit' value='Login'>
            </form>
        </div>
    </div>
</div>

{% include "subscribemodal.html" %}

{% endblock %}