<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>

  <body>
      <div id="navbar">
        <a href="#default" id="logo">
          <img id="logo-image" src="{{url_for('static', filename='logo.png')}}"/>
        </a>
        <div id="navbar-right">
          <a href="#faq">About</a>
          <a href="#today">Today</a>
          <a href="#subscribe">Subscribe</a>
          
        </div>
      </div>

      {% block body %}
      {% endblock %}
    
  
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
  </body>
</html>