<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <meta name="google-site-verification" content="ACz1lCWuBnb9e4pmT5elDKr5A2xds0W78wMQNNeKEMA" />

  </head>

  <body>
      <div id="navbar">
        <a href="/" id="logo">
          <img id="logo-image" src="{{url_for('static', filename='logo.png')}}"/>
        </a>
        <div class="navbar-right" id="navbar-right">
          <a href="/about">What is PraxTrain?</a>
          <a href="/#today">Today's Training</a>
          <a href="/#subscribe">Get Emails</a>
          <a href="javascript:void(0);" class="icon" onclick="toggleMobileNavbar()">
            Menu
          </a>
        </div>
      </div>

      {% block body %}
      {% endblock %}
    
  
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
  </body>
</html>