<!--index.html-->

{% extends "indexbase.html" %}
{% block title %}PraxTrain Home{% endblock %}

{% block body %}

<div class="description">
  <div class="container">
    <div class="row fill-container align-items-top">
      
      <div class="col-12 description-name">
        <h1>PraxTrain 2018</h1>
      </div>

      <div class="col-12 description-about">
        We desire to live out a theology that works in our world and culture today.  As <b>followers of Jesus</b>, we want our beliefs, our teachings, and our doctrines to be lived out in our day to day lives in <b>tangible and practical ways</b>. </p>
      </div>

      <div class="col-12 description-six-elements">
        <h3>The Six Elements of Practice</h3>
        <p>PraxTrain was created to help people do this through 6 elements of practice:</p>
        <ul>
          <li>- Bible Reading</li>
          <li>- Scripture Memorization</li>
          <li>- Verse Meditation</li>
          <li>- Journal Reflection</li>
          <li>- Intercessory Prayer</li>
          <li>- Faith Activation</li>
        </ul>
      </div>

      <div class="col-12 col-md-6 description-ads-track">
        <h3>The ADS Track</h3>
        <p>The ADS track was developed for students in the Antioch Discipleship School and follows the schools reading schedule (about 30min-1hour of reading and reflecting).  </p>
      </div>
      <div class="col-12 col-md-6 description-praxis-track">
        <h3>The Praxis Track</h3>
        <p>The Praxis track is for those with busier schedules but desire the daily prompts to be in the word and be living out their faith (15-30 min).  You can jump into either track, it's up to you!</p>
      </div>
      <div class="col-12 see-todays">
        <a href="#today">
          <i class="fas fa-angle-down down-arrow"></i>
          <br>See Today's Praxis Now
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row fill-container align-items-center">
    <div id="today-header" class="today-header col-12">
      <h1>Praxis of the Day</h1>
    </div>
  </div>
</div>

<!--today's post is shown in the homepage-->
<div id="today" class="today">
  <div class="row fill-container align-items-bottom">
      <!--BANNER IMAGE-->            
      <div id="banner-image-container">
        <!--Rotate through 14 pictures-->
        {% set imgFile = 'banner' + (records[indexToday]['post_id'] | int % 14)| string + '.jpg'%}
        <img src="{{url_for('static', filename=imgFile)}}">
        <div class="date">
          {{records[indexToday]['day']+' · '+
          records[indexToday]['date'].replace('/','.') }}
        </div>
      </div>
      

      <!--ADS COLUMN-->
      <div class = "col-12 col-md-6 challenge-block">
        <h1 class="heading">ADS</h1>

        {% if records[indexToday]['ads_bible_reading'] %}
        <h4 class="subheading"> Bible Reading</h4>
        <p> 
        {% for verse in records[indexToday]['ads_bible_reading'].split(', ') %}
          {% if verse[0] == "*" %}
            <p>{{verse[1:]}}</p>
          {% else %}
            <a href="https://www.biblegateway.com/passage/?search={{verse}}&version=NIV" target="_blank">{{verse}}</a><br>
          {% endif %}
        {% endfor %}
        </p>
        {% endif %}

        {% if records[indexToday]['ads_memorization'] %}
        <h4 class="subheading">Scripture Memorization</h4>
        <p>
          {% for verse in records[indexToday]['ads_memorization'].split(',') %}
            {% if verse[0] == "*" %}
              <p>{{verse[1:]}}</p>
            {% else %}
              <a href="https://www.biblegateway.com/passage/?search={{verse}}&version=NIV"  target="_blank">{{verse}}</a><br>
            {% endif %}
          {% endfor %}
        </p>
        {% endif %}

        {% if records[indexToday]['ads_verse_meditation'] %}
        <h4 class="subheading">Verse Meditation</h4>
        <p>
          {% for verse in records[indexToday]['ads_verse_meditation'].split(',') %}
            {% if verse[0] == "*" %}
              <p>{{verse[1:]}}</p>
            {% else %}
              <a href="https://www.biblegateway.com/passage/?search={{verse}}&version=NIV"  target="_blank">{{verse}}</a><br>
            {% endif %}
          {% endfor %}
        </p>
        {% endif %}

        {% if records[indexToday]['ads_journal_reflection'] %}
        <h4 class="subheading">Journal Reflection</h4>
        <p>
            {{records[indexToday]['ads_journal_reflection']}}<br>
        </p>
        {% endif %}

        {% if records[indexToday]['ads_intercessory_prayer'] %}
        <h4 class="subheading">Intercessory Prayer</h4>
        <p>
            {{records[indexToday]['ads_intercessory_prayer']}}<br>
        </p>
        {% endif %}

        {% if records[indexToday]['ads_faith_challenge'] %}
        <h4 class="subheading">Faith Activation</h4>
        <p>
          {{records[indexToday]['ads_faith_challenge']}}<br>
        </p>
        {% endif %}

      </div>

      <!--PRAXIS COLUMN-->
      <div class = "col-12 col-md-6 challenge-block">
        <h1 class="heading">Praxis</h1>

        {%if records[indexToday]['praxis_bible_reading']%}
        <h4 class="subheading">Bible Reading</h4>
        <p> 
          {% for verse in records[indexToday]['praxis_bible_reading'].split(',') %}
            {% if verse[0] == "*" %}
              <p>{{verse[1:]}}</p>
            {% else %}
              <a href="https://www.biblegateway.com/passage/?search={{verse}}&version=NIV" target="_blank">{{verse}}</a><br>
            {% endif %}
          {% endfor %}
        </p>
        {% endif %}

        {% if records[indexToday]['praxis_memorization'] %}
        <h4 class="subheading">Memorization</h4>
        <p>
          {% for verse in records[indexToday]['praxis_memorization'].split(',') %}
            {% if verse[0] == "*" %}
              <p>{{verse[1:]}}</p>
            {% else %}
              <a href="https://www.biblegateway.com/passage/?search={{verse}}&version=NIV"  target="_blank">{{verse}}</a><br>
            {% endif %}
          {% endfor %}
        </p>
        {% endif %}

        {% if records[indexToday]['praxis_verse_meditation'] %}
        <h4 class="subheading">Verse Meditation</h4>
        <p>
          {% for verse in records[indexToday]['praxis_verse_meditation'].split(',') %}
            {% if verse[0] == "*" %}
              <p>{{verse[1:]}}</p>
            {% else %}
              <a href="https://www.biblegateway.com/passage/?search={{verse}}&version=NIV"  target="_blank">{{verse}}</a><br>
            {% endif %}
          {% endfor %}
        </p>
        {% endif %}

        {% if records[indexToday]['praxis_journal_reflection'] %}
        <h4 class="subheading">Journal Reflection</h4>
        <p>
            {{records[indexToday]['praxis_journal_reflection']}}<br>
        </p>
        {% endif %}

        {% if records[indexToday]['praxis_intercessory_prayer'] %}
        <h4 class="subheading">Intercessory Prayer</h4>
        <p>
            {{records[indexToday]['praxis_intercessory_prayer']}}<br>
        </p>
        {% endif %}

        {% if records[indexToday]['praxis_faith_activation'] %}
        <h4 class="subheading">Faith Activation</h4>
        <p>
          {{records[indexToday]['praxis_faith_activation']}}<br>
        </p>
        {% endif %}
      </div>
      <form action="#subscribe" method="get" class="col-6 today-subscribe">
        <input type="submit" id="subscribe-button" value="Get PraxTrain by Email">
      </form>
  </div>
</div>

<div class="col-12 see-recent">
  <a href="/recent">
    <i class="fas fa-angle-double-right right-arrow"></i>
    <br>See Past Praxis
  </a>
</div>


<!-- <div id="subscribe">
  <div class="container">
    <div id = "subscribe-container" class="row fill-container aligns-items-bottom">
      <div class="col-12 heading">
        <h1>SUBSCRIBE</h1>
      </div>
      <div class ="col-3"></div>
      <form class="col-6" id="subscribe-form" action="" method="POST">
        First Name:<br>
        <input type="text" name="firstName">
        <br>
        Last Name:<br>
        <input type="text" name="lastName">
        <br>
        Email:<br>
        <input type="text" name="email">
        <br>
        <input type="submit" id="subscribe-button" value="Get PraxTrain by Email">
        
      </form> 
      
    </div>
  </div>
</div>
 -->

{% endblock %}