<!-- index.html-->

{% extends "base.html" %}
{% block title %}PraxTrain Home{% endblock %}

{% block body %}

<!--loop through at most five rows of spreadsheet data-->
{% for i in range(indexToday, indexToday - 7, -1) %}
<div id="today">
    <div class="container">
        <div class="row fill-container align-items-bottom">
            <div class="image">
              <img src="{{url_for('static', filename='banner.jpg')}}">
              <div class="date">
                {{records[i]['day'] + ' · ' + 
                  records[i]['date'].split('/')[0]+'.' +
                  records[i]['date'].split('/')[1]+'.' +
                  records[i]['date'].split('/')[2]}}
              </div>
            </div>

            <div class = "col-12 col-md-6 challenge-block">
              <h3>ADS Bible Reading</h3>
              <p> 
                {% for verse in records[i]['ads_bible_reading'].split(', ') %}
                  {% if verse[0] == "*" %}
                    <p>{{verse[1:]}}</p>
                  {% else %}
                    <a href="https://www.biblegateway.com/passage/?search={{verse}}&version=NIV" target="_blank">{{verse}}</a><br>
                  {% endif %}
                {% endfor %}
              </p>
            </div>

            <div class = "col-12 col-md-6 challenge-block">
              <h3>Praxis Bible Reading</h3>
              <p> 
                {% for verse in records[i]['praxis_bible_reading'].split(',') %}
                  {% if verse[0] == "*" %}
                    <p>{{verse[1:]}}</p>
                  {% else %}
                    <a href="https://www.biblegateway.com/passage/?search={{verse}}&version=NIV" target="_blank">{{verse}}</a><br>
                  {% endif %}
                {% endfor %}
              </p>
            </div>

            <div class = "col-12 col-md-6 challenge-block">
              <h3>Memorization</h3>
              <p>
                {% for verse in records[i]['memorization'].split(',') %}
                  {% if verse[0] == "*" %}
                    <p>{{verse[1:]}}</p>
                  {% else %}
                    <a href="https://www.biblegateway.com/passage/?search={{verse}}&version=NIV">{{verse}}</a><br>
                  {% endif %}
                {% endfor %}
              </p>
            </div>

            <div class = "col-12 col-md-6 challenge-block">
              <h3>Meditation</h3>
              <p>
                  {{records[i]['meditation']}}<br>
              </p>
            </div>

            <div class = "col-12 col-md-6 challenge-block">
              <h3>Faith In Action Challenge</h3>
              <p>
                {{records[i]['faith_challenge']}}<br>
              </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div id="subscribe">
  <div class="container">
    <div id = "subscribe-container" class="row fill-container aligns-items-bottom">
      <div class="col-12 heading">
        <h1>SUBSCRIBE</h1>
      </div>
      <div class ="col-3"></div>
      <form class="col-6" id="subscribe-form" action="" method="POST">
        Name:<br>
        <input type="text" name="name">
        <br>
        Email:<br>
        <input type="text" name="email">
        <br>
        <input type="submit" id="subscribe-button" value="Get PraxTrain by Email">
        
      </form> 
      
    </div>
  </div>
</div>


{% endblock %}