<!--subscribemodal.html-->

<!--subscription popup modal, display none by default-->
<div id="myModal" class="modal">
    <div id="modal-content" class="modal-content">

        <div class="modal-header">
          <span class="close">&emsp;</span>
        </div>

        <div class="modal-body">
            <div class="heading">
              <h1>SUBSCRIBE</h1>
            </div>
          
            <form id="subscribe-form" action="/subscribed" method="POST">
              First Name:
              <input id="firstNameSub" type="text" name="firstName">
              <br>
              Last Name:
              <input type="text" name="lastName">
              <br>
              &emsp;&emsp;Email:
              <input type="text" name="email">
              <br>
              <br>
              <input type="submit" class="subscribe-button" value="Get PraxTrain by Email"> 
              <br>&emsp;
            </form>
        </div>

    </div> <!--modal content-->
</div><!--myModal-->